@model CRUDTaller4.Models.Entities.Paquete

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Paquete</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CasilleroId" class="control-label"></label>
                <input asp-for="CasilleroId" class="form-control" />
                <span asp-validation-for="CasilleroId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoId" class="control-label"></label>
                <input asp-for="EstadoId" class="form-control" />
                <span asp-validation-for="EstadoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagenId" class="control-label"></label>
                <input asp-for="ImagenId" class="form-control" />
                <span asp-validation-for="ImagenId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportadoraId" class="control-label"></label>
                <input asp-for="TransportadoraId" class="form-control" />
                <span asp-validation-for="TransportadoraId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoMercanciaId" class="control-label"></label>
                <input asp-for="TipoMercanciaId" class="form-control" />
                <span asp-validation-for="TipoMercanciaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
